{% extends 'admin/common/dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.user.label'|trans }}{% endblock %}
{% block dashboard_content %}
    <div class="max-w-[700px]">
        <!-- Dashboard Card -->
        {% embed 'admin/common/dashboard/_dashboard_card.html.twig' %}
            {% block title %}
                <!-- Dashboard Title -->
                <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.user.label'|trans }}</h1>
                <h2 class="text-gray-500 dark:text-gray-300">{{ 'ui.user.changing_password'|trans }}</h2>
                <!-- /Dashboard Title -->
            {% endblock %}
            {% block buttons_before %}
            {% endblock %}
            {% block dashboard_content %}
                <!-- Dashboard Content -->
                {{ form_start(form) }}

                <!-- ERRORS -->
                {% if form_errors(form) %}
                    {% embed 'core/alerts/error.html.twig' %}
                        {% block content %}
                            {{ form_errors(form) }}
                        {% endblock %}
                    {% endembed %}
                {% endif %}

                <div class="w-[400px] flex flex-col gap-2">
                    <div>{{ form_row(form.password) }}</div>
                    <div>{{ form_row(form.repeatPassword) }}</div>
                </div>
                <div class="mt-4 flex gap-2">
                    {{ form_row(form.saveChanges) }}
                    <div class="flex flex-wrap gap-2 justify-center md:justify-start">
                        <a href="{{ path('admin_web_user_show') }}">
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                {{ 'ui.buttons.cancel'|trans }}
                            </button>
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}
                <!-- /Dashboard Content -->
            {% endblock %}
            {% block buttons_after %}
            {% endblock %}
        {% endembed %}
        <!-- /Dashboard Card -->
    </div>
    <script type="text/javascript" src="{{ asset('build/js/jquery.passwordRequirements.min.js') }}"></script>
{% endblock %}


