{% extends 'core/base.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.user.change_password'|trans }}{% endblock %}
{% block body %}
    <div class="controller-login w-full grow flex items-center"
         style="background: url('{{ asset('build/images/user_bg_dark.webp') }}');">
        <div class="max-w-lg my-8 mx-auto grow rounded-xl shadow-inner border-2 bg-white shadow-neutral-800 border-neutral-800
                    dark:bg-gray-700 dark:shadow-gray-900 dark:border-gray-500">
            <div class="flex flex-col justify-center px-6 py-16 lg:px-8 text-neutral-700 dark:text-white">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">{{ 'ui.user.change_password'|trans }}</h2>
                </div>
                <div class="mt-10 pb-20 sm:mx-auto sm:w-full sm:max-w-sm">
                    {{ form_start(form) }}
                    <div class="my-4">
                        {{ form_row(form.password, {
                            label: 'ui.user.login.newPassword'|trans,
                        }
                        ) }}
                    </div>
                    <div class="my-4">
                        {{ form_row(form.repeatPassword) }}
                    </div>
                    <div class="my-8">
                        {{ form_row(form.saveChanges, {
                            label: 'ui.user.change_password'|trans,
                        }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
