{% set sizeClass = 'min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]' %}

{% if active is not defined %}
    {% set active = false %}
{% endif %}

{% if size is defined %}
    {% if size == 'sm' %}
        {% set sizeClass = 'min-[576px]:max-w-[300px]' %}
    {% elseif size == 'lg' %}
        {% set sizeClass = 'min-[576px]:max-w-[500px] min-[992px]:max-w-[800px]' %}
    {% elseif size == 'xl' %}
        {% set sizeClass = 'min-[576px]:max-w-[500px] min-[992px]:max-w-[800px] min-[1200px]:max-w-[1140px]' %}
    {% endif %}
{% endif %}

<div data-modal-box="{{ name }}" role="dialog" tabindex="-1" aria-modal="true" {% if id is defined %}data-modal-element-id="{{ id }}"{% endif %}
     class="fixed {% if not active %} hidden {% endif %} left-0 top-0 z-[1055] h-full w-full overflow-y-auto overflow-x-hidden outline-none bg-black bg-opacity-70">
    <div class="pointer-events-none relative flex mt-12  min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center transition-all duration-300 ease-in-out min-[576px]:mx-auto px-2 {{ sizeClass }}">
        <div data-modal-dialog class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
            <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">

                <!--Modal title-->
                <h5 class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                    data-modal-title>
                    {{ title|default('') }}
                </h5>

                <!--Close button-->
                <button type="button"
                        class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                        data-item-modal-close="{{ name }}"
                        aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="h-6 w-6">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>

            <!--Modal body-->
            <div data-modal-content class="text-gray-900 dark:text-gray-100 relative p-4">
                <div data-modal-content-before></div>
                {% block content %}
                {% endblock %}
                <div data-modal-content-after></div>
            </div>

            <!--Modal footer-->
            <div data-modal-buttons
                 class="flex flex-shrink-0 gap-2 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                <div data-modal-buttons-inner></div>
                {% block buttons %}
                {% endblock %}
                {% if hideClose is not defined %}
                <button type="button" data-item-modal-close="{{ name }}"
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        class="btn btn-neutral">{{ 'ui.buttons.close'|trans }}
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
