<!-- Navigation bar -->
<!-- Stimulus Controller Main/Common/Nav -->
<nav class="relative flex w-full h-lg-[72px] items-center bg-white py-2 text-neutral-600 shadow-lg border-b-2 focus:text-neutral-700
dark:bg-slate-900 dark:text-neutral-200 dark:border-slate-700 md:flex-wrap md:justify-start"
        data-te-navbar-ref {{ stimulus_controller('main--common--nav') }}>
    <div class="logo h-full flex items-center gap-2 px-4">
        <img src="{{ asset('build/images/header_logo.svg') }}" alt="Logo" class="h-14">
    </div>
    <div class="flex flex-wrap items-center justify-between px-3">
        <div class="flex items-center">
            <!-- Hamburger menu button -->
            <button class="border-0 bg-transparent px-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700
            dark:hover:text-white dark:focus:text-white lg:hidden"
                    type="button"
                    data-te-collapse-init
                    data-te-target="#navbarSupportedContentX"
                    aria-controls="navbarSupportedContentX"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <!-- Hamburger menu icon -->
                <span class="[&>svg]:w-5">
            <svg xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-7 w-7">
              <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
          </span>
            </button>
        </div>

        <!-- Navigation links -->
        <div class="!visible hidden grow basis-[100%] items-center lg:!flex lg:basis-auto" id="navbarSupportedContentX"
             data-te-collapse-item>
            <ul class="mr-auto flex flex-col lg:flex-row" data-te-navbar-nav-ref>
                <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                    <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                       href="#!" data-te-nav-link-ref data-te-ripple-init data-te-ripple-color="light">{{ 'ui.main.nav.menu.start'|trans }}</a>
                </li>
                <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                    <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                       href="#!" data-te-nav-link-ref data-te-ripple-init data-te-ripple-color="light">{{ 'ui.main.nav.menu.search'|trans }}</a>
                </li>
                <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                    <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                       href="#!" data-te-nav-link-ref data-te-ripple-init data-te-ripple-color="light">{{ 'ui.main.nav.menu.info'|trans }}</a>
                </li>
                <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                    <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                       href="#!" data-te-nav-link-ref data-te-ripple-init data-te-ripple-color="light">{{ 'ui.main.nav.menu.contact'|trans }}</a>
                </li>
                <li class="mb-0 pr-2 lg:hidden">
                    <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-slate-900 dark:hover:bg-white dark:focus:text-sky-100 lg:p-2 [&.active]:text-black/20"
                       href="#!" data-te-nav-link-ref data-te-ripple-init data-te-ripple-color="light">{{ 'ui.main.nav.menu.admin'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ml-auto mr-2">
        <ul class="mr-auto flex flex-row items-center">
            <li class="mb-0 pr-4 lg:pr-8 flex gap-2 items-center">
                <p class="uppercase text-sm">{{ 'ui.main.nav.lightMode'|trans }}</p>
                <box-icon name='toggle-left' color="white" size="md" style="cursor: pointer;" data-main--common--nav-target="toggleTheme"></box-icon>
            </li>
            <li class="mb-0 pr-2 hidden lg:block">
                <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 border-2 rounded-md
                    dark:border-white dark:hover:text-slate-900 dark:hover:bg-white dark:focus:text-sky-100 lg:p-2 [&.active]:text-black/20"
                   href="#!" data-te-nav-link-ref data-te-ripple-init data-te-ripple-color="light">{{ 'ui.main.nav.menu.admin'|trans }}</a>
            </li>
        </ul>
    </div>
</nav>

