<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ app_name|trans({}, 'settings') }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset("build/images/favicon.png") }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="{{ app.request.cookies.get('THEME_MODE') }}">

<!-- Notifications -->
{% include 'core/_notification.html.twig' %}

<!-- Top Navigation -->
{% include 'core/nav.html.twig' %}

<!-- Body -->
{% block body %}{% endblock %}

<!-- Footer -->
{% include 'core/footer.html.twig' %}

<script type="text/javascript" src="{{ asset('build/js/tw-elements.min.js') }}"></script>
</body>
</html>
