<!-- Navigation bar -->
<!-- Stimulus Controller Main/Common/Nav -->
<div class="h-[74px]">
    <div data-controller="dropdown" class="fixed w-full z-50">
        <nav class="relative flex w-full h-lg-[72px] items-center bg-white py-2 text-neutral-600 shadow-lg border-b-2 focus:text-neutral-700
        dark:bg-slate-900 dark:text-neutral-200 dark:border-slate-700 md:flex-wrap md:justify-start"
             data-te-navbar-ref>
            <div class="logo h-full flex items-center gap-2 px-4">
                <a href="{{ path('main_web_index') }}">
                    <img src="{{ asset('build/images/header_logo.svg') }}" alt="Logo" class="h-14">
                </a>
            </div>
            <div class="flex flex-wrap items-center justify-between px-3">
                <div class="flex items-center">
                    <!-- Hamburger menu button -->
                    <button class="border-0 bg-transparent px-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700
            dark:hover:text-white dark:focus:text-white lg:hidden"
                            type="button"
                            data-te-collapse-init
                            data-te-target="#navbarSupportedContentX"
                            aria-controls="navbarSupportedContentX"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <!-- Hamburger menu icon -->
                        <span class="[&>svg]:w-5">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="h-7 w-7">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
          </span>
                    </button>
                </div>

                <!-- Navigation links -->
                <div class="!visible hidden grow basis-[100%] items-center lg:!flex lg:basis-auto nav-ul-container"
                     id="navbarSupportedContentX"
                     data-te-collapse-item>
                    <ul class="mr-auto flex flex-col lg:flex-row" data-te-navbar-nav-ref>
                        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                            <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                               href="{{ path('main_web_index') }}" data-te-nav-link-ref data-te-ripple-init
                               data-te-ripple-color="light">{{ 'ui.nav.menu.start'|trans }}</a>
                        </li>
                        <li class="mb-4 lg:mb-0 lg:pr-2" data-goto-deceased-search-form data-te-nav-item-ref>
                            <span class="cursor-pointer block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                                  data-te-nav-link-ref data-te-ripple-init
                                  data-te-ripple-color="light">{{ 'ui.nav.menu.search'|trans }}</span>
                        </li>
                        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                            <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                               href="#!" data-te-nav-link-ref data-te-ripple-init
                               data-te-ripple-color="light">{{ 'ui.nav.menu.info'|trans }}</a>
                        </li>
                        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                            <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30
                    dark:hover:text-mint dark:focus:text-white lg:p-2 [&.active]:text-black/90"
                               href="#!" data-te-nav-link-ref data-te-ripple-init
                               data-te-ripple-color="light">{{ 'ui.nav.menu.contact'|trans }}</a>
                        </li>
                        <li class="mb-0 pr-2 lg:hidden">
                            <div data-action="click->dropdown#toggle click@window->dropdown#hide"
                                 class="lg:ml-4 w-24 h-12 flex items-center justify-center
                             rounded-lg ease-in duration-200 bg-stone-500 dark:bg-sky-800 cursor-pointer hover:bg-opacity-20 dark:hover:bg-opacity-70">
                                <i class="fa fa-bars text-xl text-stone-100 dark:text-slate-900 mx-2" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ml-auto mr-2">
                <ul class="mr-auto flex flex-row items-center" {{ stimulus_controller('main--common--toggle_mode') }}>
                    <li class="mb-0 pr-4 lg:pr-8 flex gap-1 items-center">
                        <i class="cursor-pointer fa {% if app.request.cookies.get('THEME_MODE_TOGGLE') %}{{ app.request.cookies.get('THEME_MODE_TOGGLE') }}{% else %}fa-toggle-on{% endif %}"
                           aria-hidden="true" data-main--common--toggle-mode-target="toggleTheme"></i>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="w-36 leading-none truncate mb-0 pr-2 hidden lg:block uppercase">
                            <span class="text-xs dark:text-white leading-none mt-1">{{ 'ui.nav.menu.logged'|trans }}</span>
                            <span class="text-ellipsis overflow-hidden block text-sm text-cyan-950 dark:text-sky-500">{{ app.user.username }}</span>
                        </li>
                        <li class="mb-0 pr-2 hidden lg:block">
                            <div data-action="click->dropdown#toggle click@window->dropdown#hide"
                                 class="ml-4 w-24 h-12 flex items-center justify-center
                             rounded-lg ease-in duration-200 bg-stone-500 dark:bg-sky-600 cursor-pointer hover:bg-opacity-20 dark:hover:bg-opacity-70">
                                <i class="fa fa-bars text-xl text-stone-100 dark:text-slate-900 mx-2" aria-hidden="true"></i>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                {% include('core/_user_menu.html.twig') %}
            </div>
        </nav>
    </div>
</div>
