{% if grave.payments|length %}
    <div {{ stimulus_target('admin--grave--grave-show', 'payments') }}>
        <div class="mt-6 flex items-center">
            <h3 class="text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.paid'|trans }}</h3>
            {% include 'admin/grave/show/__payment_status.html.twig' %}
        </div>
        <hr>
        <div class="table-list flex flex-col">
            <div class="p-4 overflow-x-auto rounded bg-slate-200 dark:bg-neutral-700">
                <div class="inline-block min-w-full">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-left text-sm text-neutral-600 dark:text-neutral-100">
                            <thead class="border-b font-medium border-white dark:border-neutral-500">
                            <tr>
                                <th scope="col" class="px-4 py-3">{{ 'ui.payment.value'|trans }}</th>
                                <th scope="col" class="px-4 py-3">{{ 'ui.common.createdAt'|trans }}</th>
                                <th scope="col" class="px-4 py-3">{{ 'ui.payment.validity_time'|trans }}</th>
                                <th scope="col">
                                    <button class="btn btn-success"
                                            data-action="click->admin--grave--grave-show#addPayment">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fee in grave.payments %}
                                <tr class="border-b transition duration-300 ease-in-out border-white hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                                    <td class="whitespace-nowrap px-4 py-3">{{ fee.getMoney }} {{ fee.currency|trans }}</td>
                                    <td class="whitespace-nowrap px-4 py-3">{{ fee.updatedAt|date('Y-m-d') }}</td>
                                    <td class="whitespace-nowrap px-4 py-3">{{ fee.validityTime|date('Y-m-d') }}</td>
                                    <td class="whitespace-nowrap py-3" data-item-id="{{ fee.id }}">
                                        <button class="btn btn-danger" data-modal-target="payment-modal-remove">
                                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <h3 class="mt-6 text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.paid'|trans }}</h3>
    <hr>
    <div class="mt-4 max-w-[800px]">
        <div class="p-4 border rounded-md shadow-md bg-neutral-200 text-neutral-700 border-neutral-400 dark:bg-neutral-700 dark:text-gray-50 dark:border-neutral-800">
            <h4 class="text-lg font-semibold">{{ 'ui.grave.description.noPaid'|trans }}</h4>
        </div>
    </div>
{% endif %}
