<div class="max-w-[800px]" {{ stimulus_target('admin--grave--grave-show', 'people') }}>
    {% if grave.people|length %}
        <h3 class="mt-6 text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.people'|trans }}</h3>
        <hr>
        <div class="table-list flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-left text-sm text-neutral-600 dark:text-neutral-100">
                            <thead class="border-b font-medium dark:border-neutral-500">
                            <tr>
                                <th scope="col" class="px-4 py-3">{{ 'ui.person.firstName'|trans }}</th>
                                <th scope="col" class="px-4 py-3">{{ 'ui.person.lastName'|trans }}</th>
                                <th scope="col" class="px-4 py-3">{{ 'ui.person.bornDate'|trans }}</th>
                                <th scope="col" class="px-4 py-3">{{ 'ui.person.deathDate'|trans }}</th>
                                <th scope="col">
                                    <button class="btn btn-success"
                                            data-action="click->admin--grave--grave-show#addDeceased">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in grave.people %}
                                <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                                    <td class="whitespace-nowrap px-4 py-3">{{ person.firstName }}</td>
                                    <td class="whitespace-nowrap px-4 py-3">{{ person.lastName }}</td>
                                    <td class="whitespace-nowrap px-4 py-3">
                                        <div class="flex items-center">
                                            <svg class="w-[15px] h-[15px] mr-2 fill-[#bababa]"
                                                 viewBox="0 0 512 512"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"></path>
                                            </svg>
                                            {{ person.bornDate|date('Y-m-d') }}
                                        </div>
                                    </td>
                                    <td class="whitespace-nowrap px-4 py-3">
                                        <div class="flex items-center">
                                            <svg class="w-[15px] h-[15px] mr-1 fill-[#bababa]"
                                                 viewBox="0 0 384 512"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"></path>
                                            </svg>
                                            {{ person.deathDate|date('Y-m-d') }}
                                        </div>
                                    </td>
                                    <td class="whitespace-nowrap py-3" data-item-id="{{ person.id }}">
                                        <button class="btn btn-danger" data-modal-target="person-modal-remove">
                                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
