<div class="sidebar flex flex-col top-0 pt-4 left-0 w-14 hover:w-64 md:w-64 h-full transition-all duration-300 border-none z-10
 text-white bg-neutral-600 dark:bg-gray-800">
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
        <ul class="flex flex-col py-4 space-y-1">
            <!-- FAMILIES -->
            <li class="px-5 hidden md:block">
                <div class="flex-center-h mt-5 h-8">
                    <div class="text-sm font-bold tracking-wide text-gray-200 dark:text-gray-300 uppercase">{{ 'ui.main.nav.menu.user.grave.label'|trans }}</div>
                </div>
            </li>
            <li>
                <a href="{{ path('main_web_index') }}" class="relative flex-center-h h-11 focus:outline-none hover:bg-gray-600 text-white hover:text-white border-l-4 border-transparent hover:border-gray-800 pr-6">
                <span class="ml-4">
                    <i class="fa fa-th-large w-5" aria-hidden="true"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">{{ 'ui.main.nav.menu.user.grave.label'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('main_web_index') }}" class="relative flex-center-h h-11 focus:outline-none hover:bg-gray-600 text-white hover:text-white border-l-4 border-transparent hover:border-gray-800 pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                <i class="fa fa-plus-square-o w-5" aria-hidden="true"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">{{ 'ui.main.nav.menu.user.grave.add'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
