{% extends 'Admin/Common/Dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.admin.grave.title.create'|trans }}{% endblock %}
{% block dashboard_content %}
    <!-- Dashboard Card -->
    {% embed 'Admin/Common/Dashboard/_dashboardCard.html.twig' %}
        {% block title %}
            <!-- Dashboard Title -->
            <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.admin.grave.title.create'|trans }}</h1>
            <!-- /Dashboard Title -->
        {% endblock %}
        {% block dashboard_content %}
            <!-- Dashboard Content -->
            {{ form_start(form) }}
                <h3 class="text-gray-500 dark:text-gray-300">{{ 'ui.admin.grave.description.create.position'|trans }}</h3>
                <div class="mb-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
                    <div>
                        {{ form_row(form.graveyard) }}
                    </div>
                    <div>
                        {{ form_row(form.sector) }}
                    </div>
                    <div>
                        {{ form_row(form.row) }}
                    </div>
                    <div>
                        {{ form_row(form.number) }}
                    </div>
                </div>
                <h3 class="text-gray-500 dark:text-gray-300">{{ 'ui.admin.grave.description.create.coordinates'|trans }}</h3>
                <div class="mt-4 grid grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
                    <div>
                        {{ form_row(form.positionX) }}
                    </div>
                    <div>
                        {{ form_row(form.positionY) }}
                    </div>
                </div>
                <div class="mt-2 flex justify-end">
                    {{ form_row(form.create) }}
                </div>
            {{ form_end(form) }}
            <!-- /Dashboard Content -->
        {% endblock %}
        {% block buttons_after %}
        {% endblock %}
    {% endembed %}
    <!-- /Dashboard Card -->
{% endblock %}
