{% extends 'admin/common/dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.grave.title.index'|trans }}{% endblock %}

{% block dashboard_content %}
    <div {{ stimulus_controller('admin--grave--grave-list') }}>
        <!-- Dashboard Card -->
        {% embed 'admin/common/dashboard/_dashboard_card.html.twig' %}
            {% block title %}
                <!-- Dashboard Title -->
                <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.grave.title.index'|trans }}</h1>
                <h2 class="text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.manage'|trans }}</h2>
                <!-- /Dashboard Title -->
            {% endblock %}
            {% block buttons_before %}
                <div class=" mb-8 flex gap-2 justify-end grow">
                    <a href="{{ path('admin_web_grave_create') }}">
                        <button class="btn btn-success gap-2">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            {{ 'ui.buttons.new'|trans }}
                        </button>
                    </a>
                    <!-- Toggle Filter Button -->
                    {% if app.request.cookies.get('ADMIN_GRAVE_LIST_TOGGLE_FILTER_STATUS') == 'true' %}
                        <button {{ stimulus_target('admin--grave--grave-list', 'toggleFilter') }}
                                type="button"
                                class="btn btn-danger">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                                {{ 'ui.buttons.hide_filter'|trans }}
                        </button>
                    {% else %}
                        <button {{ stimulus_target('admin--grave--grave-list', 'toggleFilter') }}
                                type="button"
                                class="btn btn-warning">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                                {{ 'ui.buttons.show_filter'|trans }}
                        </button>
                    {% endif %}
                    <!-- /Toggle Filter Button -->
                </div>
            {% endblock %}
            {% block filters %}
                <div {{ stimulus_target('admin--grave--grave-list', 'filterContainer') }}
                    class="{% if app.request.cookies.get('ADMIN_GRAVE_LIST_TOGGLE_FILTER_STATUS') == 'true' %}block
                           {% else %}hidden{% endif %}">
                    {{ form_start(filterForm, {
                        'attr': {'class': 'flex justify-end mb-8'}
                    }) }}
                    <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="grid gap-2 grid-cols-1 sm:grid-cols-3">
                            {{ form_row(filterForm.sector) }}
                            {{ form_row(filterForm.row) }}
                            {{ form_row(filterForm.number) }}
                        </div>
                        <div>
                            {{ form_row(filterForm.graveyard) }}

                            <div class="flex justify-end gap-2 mt-4">
                                {{ form_row(filterForm.search) }}
                                <button type="button" onClick="location.reload()" class="btn btn-warning">{{ 'ui.buttons.reset'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(filterForm) }}
                </div>
            {% endblock %}
            {% block dashboard_content %}
                <!-- Dashboard Content -->
                <!-- Pagination -->
                <div {{ stimulus_target('admin--grave--grave-list', 'pagination') }}>
                    {% embed 'core/pagination/pagination.html.twig' %}
                        {% block head %}
                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.grave.graveyard',
                                name: 'graveyard.name',
                            } %}
                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.grave.sector',
                                name: 'g.sector',
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.grave.row',
                                name: 'g.row',
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.grave.number',
                                name: 'g.number',
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.grave.people',
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.grave.paid',
                                class: 'text-center'
                            } %}

                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.common.updatedAt',
                                name: 'g.updatedAt',
                                class: 'text-center hidden md:table-cell'
                            } %}

                            {% include 'core/pagination/_head.html.twig' with {
                                label: 'ui.common.createdAt',
                                name: 'g.createdAt',
                                class: 'text-center hidden md:table-cell'
                            } %}

                            {% include 'core/pagination/_head.html.twig' %}
                        {% endblock %}
                        {% block body %}
                            {% if item.mainImage != null %}
                                {% set name = item.graveyard.name ~ '<i class="fa fa-file-image-o ml-2" aria-hidden="true"></i>' %}
                            {% else %}
                                {% set name = item.graveyard.name %}
                            {% endif %}
                            {% if item.positionX != null and item.positionY != null %}
                                {% set name = name ~ '<i class="fa fa-map-marker ml-2" aria-hidden="true"></i>' %}
                            {% endif %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: name
                            } %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: item.sector,
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: item.row,
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: item.number,
                                class: 'text-center'
                            } %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: item.getPeopleNumber,
                                class: 'text-center'
                            } %}
                            {% embed 'core/pagination/_body_action.html.twig' with {
                                class: 'w-36'
                            } %}
                                {% block actions %}
                                    {% if item.paymentStatus.value == 'paid' %}
                                        <button gemma-tooltip="top"
                                                gemma-tooltip-label="{{ 'ui.grave.paid'|trans }}"
                                                class="btn btn-xs btn-success">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                    {% elseif item.paymentStatus.value == 'unpaid' %}
                                        <button gemma-tooltip="top"
                                                gemma-tooltip-label="{{ 'ui.grave.unpaid'|trans }}"
                                                class="btn btn-xs btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    {% elseif item.paymentStatus.value == 'expired' %}
                                        <button gemma-tooltip="top"
                                                gemma-tooltip-label="{{ 'ui.grave.expired'|trans }}"
                                                class="btn btn-xs btn-danger">
                                            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                        </button>
                                    {% elseif item.paymentStatus.value == 'soon' %}
                                        <button gemma-tooltip="top"
                                                gemma-tooltip-label="{{ 'ui.grave.soon'|trans }}"
                                                class="btn btn-xs btn-warning">
                                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                        </button>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: item.updatedAt|date('Y-m-d'),
                                class: 'text-center hidden md:block'
                            } %}
                            {% include 'core/pagination/_body_value.html.twig' with {
                                value: item.createdAt|date('Y-m-d'),
                                class: 'text-center hidden md:table-cell'
                            } %}
                            {% embed 'core/pagination/_body_action.html.twig' with {
                                class: 'w-36'
                            } %}
                                {% block actions %}
                                    <button gemma-tooltip="top"
                                            gemma-tooltip-label="{{ 'ui.grave.details'|trans }}"
                                            class="btn btn-sky"
                                            data-modal-target="grave-modal-details">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <a gemma-tooltip="top"
                                       gemma-tooltip-label="{{ 'ui.grave.title.show'|trans }}"
                                       href="{{ path('admin_web_grave_show', {id: item.id}) }}">
                                        <button class="btn btn-info">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </button>
                                    </a>
                                    <button gemma-tooltip="top"
                                            gemma-tooltip-label="{{ 'ui.grave.remove'|trans }}"
                                            class="btn btn-danger"
                                            data-modal-target="grave-modal-remove">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                {% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <!-- /Pagination -->
                <!-- /Dashboard Content -->
                <!-- Modal -->
                <div>
                    {% include 'admin/grave/index/_modals.html.twig' %}
                </div>
                <!-- /Modal -->
            {% endblock %}
            {% block buttons_after %}
            {% endblock %}
        {% endembed %}
        <!-- /Dashboard Card -->
    </div>
{% endblock %}
