{% extends 'Admin/Common/Dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.admin.grave.title.index'|trans }}{% endblock %}
{% block dashboard_content %}
    {% embed 'Twig/Block/DashboardCard.html.twig' %}
        {% block title %}
            <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.admin.grave.title.index'|trans }}</h1>
            <h2 class="text-gray-500 dark:text-gray-300">{{ 'ui.admin.grave.description.index.manage'|trans }}</h2>
        {% endblock %}
        {% block dashboard_content %}
            <div {{ stimulus_controller('admin--grave--index') }}>
                <div class="relative mb-4 flex w-full flex-wrap items-stretch">
                    <input
                            id="datatable-search-input"
                            type="search"
                            class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300
                             bg-transparent bg-clip-padding px-3 py-[0.25rem]
                              text-base font-normal leading-[1.6] text-neutral-700 outline-none
                               transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700
                                focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600
                                 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                            placeholder="{{ 'ui.table.search'|trans }}"
                            aria-label="{{ 'ui.table.search'|trans }}"
                            aria-describedby="button-addon1" />
                </div>
            </div>
            <div id="datatable"></div>
        {% endblock %}
        {% block buttons_after %}
        {% endblock %}
    {% endembed %}
{% endblock %}


