{% extends 'admin/common/dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.grave.title.show'|trans }}{% endblock %}
{% block dashboard_content %}
    <div {{ stimulus_controller('admin--grave--grave-show', {
        'id': id, 'imagesPath': file_grave.images_directory, 'thumbsPath': file_grave.images_thumbnail_directory
    }) }} class="max-w-[800px]">
        <!-- Dashboard Card -->
        {% embed 'admin/common/dashboard/_dashboard_card.html.twig' %}
            {% block title %}
                <!-- Dashboard Title -->
                <div class="flex items-center gap-2">
                    <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.grave.title.show'|trans }}</h1>
                    {% include 'admin/grave/show/__payment_status.html.twig' %}
                </div>
                <!-- /Dashboard Title -->
            {% endblock %}
            {% block buttons_before %}
                <div class="flex flex-wrap gap-2 justify-center md:justify-start">
                    <a href="{{ path('admin_web_grave_index') }}">
                        <button class="btn btn-info">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            {{ 'ui.buttons.list'|trans }}
                        </button>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="btn btn-sky"
                                data-action="click->admin--grave--grave-show#addPayment">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            {{ 'ui.grave.add_payment'|trans }}
                        </button>
                    {% endif %}
                    <button class="btn btn-success"
                            data-action="click->admin--grave--grave-show#addDeceased">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        {{ 'ui.grave.add_deceased'|trans }}
                    </button>
                    <a href="{{ path('admin_web_grave_create') }}">
                        <button class="btn btn-success">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {{ 'ui.grave.add_grave'|trans }}
                        </button>
                    </a>
                    <a href="{{ path('admin_web_grave_edit', { id: id }) }}">
                        <button class="btn btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {{ 'ui.buttons.edit'|trans }}
                        </button>
                    </a>
                    <button class="btn btn-danger"
                            data-action="click->admin--grave--grave-show#removeGrave"
                            data-admin--grave--grave-show-id-param="{{ id }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        {{ 'ui.buttons.remove'|trans }}
                    </button>
                </div>
            {% endblock %}
            {% block dashboard_content %}
                <!-- Dashboard Content -->

                <!-- ------------ POSITION ------------ -->
                <h3 class="mt-6 text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.position'|trans }}</h3>
                <hr>
                <div class="flex flex-wrap gap-2 justify-center items-center text-neutral-900 dark:text-neutral-50">
                    <div class="w-[200px]">
                        {% if grave.mainImage %}
                            <div data-te-lightbox-init>
                                <img src="{{ asset(file_grave.images_thumbnail_directory ~ grave.mainImage.getFilename) }}"
                                     data-te-img="{{ asset(file_grave.images_directory ~ grave.mainImage.getFilename) }}"
                                     alt="Main image" data-lightbox-thumb class="cursor-pointer rounded opacity-100">
                            </div>
                        {% else %}
                            <img src="{{ asset('build/images/no_image.svg') }}" class="rounded opacity-90" width="190"
                                 alt="Main image">
                        {% endif %}
                    </div>
                    <div class="flex-grow">
                        <p class="py-2 px-4 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.graveyard.name }}</p>
                        <div class="mt-6 grid gap-2 grid-cols-3 text-center text-neutral-900 dark:text-neutral-50">
                            <div>
                                <p class="mb-1 text-xs uppercase">{{ 'ui.grave.sector'|trans }}</p>
                                <p class="p-2 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.sector }}</p>
                            </div>
                            {% if grave.row %}
                                <div>
                                    <p class="mb-1 text-xs uppercase">{{ 'ui.grave.row'|trans }}</p>
                                    <p class="p-2 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.row }}</p>
                                </div>
                            {% endif %}
                            <div>
                                <p class="mb-1 text-xs uppercase">{{ 'ui.grave.number'|trans }}</p>
                                <p class="p-2 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.number }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- MODULES AND MODALS -->
                {% if is_granted('ROLE_ADMIN') %}{% include 'admin/grave/show/admin/admin.html.twig' %}
                {% elseif is_granted('ROLE_MANAGER') %}{% include 'admin/grave/show/manager/manager.html.twig' %}
                {% endif %}
                <!-- /MODULES AND MODALS -->

                <!-- /Dashboard Content -->
            {% endblock %}
            {% block buttons_after %}
            {% endblock %}
        {% endembed %}
        <!-- /Dashboard Card -->
    </div>
{% endblock %}
