{% extends 'admin/common/dashboard/layout.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.grave.title.show'|trans }}{% endblock %}
{% block dashboard_content %}
    <div {{ stimulus_controller('admin--grave--grave-show') }} class="max-w-[800px]">
        <!-- Dashboard Card -->
        {% embed 'admin/common/dashboard/_dashboard_card.html.twig' %}
            {% block title %}
                <!-- Dashboard Title -->
                <div class="flex items-center gap-2">
                    <h1 class="text-slate-900 dark:text-slate-100">{{ 'ui.grave.title.show'|trans }}</h1>
                    {% include 'admin/grave/show/__payment_status.html.twig' %}
                </div>
                <!-- /Dashboard Title -->
            {% endblock %}
            {% block buttons_before %}
                <div class="flex flex-wrap gap-2 justify-center md:justify-start">
                    <a href="{{ path('admin_web_grave_index') }}">
                        <button class="btn btn-info">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            {{ 'ui.buttons.list'|trans }}
                        </button>
                    </a>
                    <button class="btn btn-sky"
                            data-action="click->admin--grave--grave-show#addPayment">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        {{ 'ui.grave.add_payment'|trans }}
                    </button>
                    <button class="btn btn-success"
                            data-action="click->admin--grave--grave-show#addDeceased">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        {{ 'ui.grave.add_deceased'|trans }}
                    </button>
                    <a href="{{ path('admin_web_grave_create') }}">
                        <button class="btn btn-success">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {{ 'ui.grave.add_grave'|trans }}
                        </button>
                    </a>
                    <a href="{{ path('admin_web_grave_edit', {id: id}) }}">
                        <button class="btn btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {{ 'ui.buttons.edit'|trans }}
                        </button>
                    </a>
                    <button class="btn btn-danger"
                            data-action="click->admin--grave--grave-show#removeGrave"
                            data-admin--grave--grave-show-id-param="{{ id }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        {{ 'ui.buttons.remove'|trans }}
                    </button>
                </div>
            {% endblock %}
            {% block dashboard_content %}
                <!-- Dashboard Content -->

                <!-- ------------ POSITION ------------ -->
                <h3 class="mt-6 text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.position'|trans }}</h3>
                <hr>
                <div class="grid grid-cols-3 text-neutral-900 dark:text-neutral-50">
                    <div>
                        <img src="" alt="">
                    </div>
                    <div class="col-span-2">
                        <p class="py-2 px-4 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.graveyard.name }}</p>
                        <div class="mt-6 grid gap-2 grid-cols-3 text-center text-neutral-900 dark:text-neutral-50">
                            <div>
                                <p class="mb-1 text-xs uppercase">{{ 'ui.grave.sector'|trans }}</p>
                                <p class="p-2 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.sector }}</p>
                            </div>
                            {% if grave.row %}
                                <div>
                                    <p class="mb-1 text-xs uppercase">{{ 'ui.grave.row'|trans }}</p>
                                    <p class="p-2 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.row }}</p>
                                </div>
                            {% endif %}
                            <div>
                                <p class="mb-1 text-xs uppercase">{{ 'ui.grave.number'|trans }}</p>
                                <p class="p-2 rounded-lg bg-neutral-800 dark:bg-white bg-opacity-20 dark:bg-opacity-10">{{ grave.number }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ------------ IMAGES ------------ -->
                <h3 class="mt-6 text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.images'|trans }}</h3>
                <hr>
                {% if grave.images|length %}
                <div
                        data-te-lightbox-init
                        class="flex flex-col space-y-5 lg:flex-row lg:space-x-2 lg:space-y-0">
                    {% for image in grave.images %}
                            <img
                                    src="{{ asset(file_grave.images_thumbnail_directory ~ image.name ~ '.' ~ 'webp') }}"
                                    data-te-img="{{ asset(file_grave.images_directory ~ image.name ~ '.' ~ image.extension.value) }}"
                                    alt="Grave Image"
                                    class="cursor-zoom-in rounded shadow-sm data-[te-lightbox-disabled]:cursor-auto" />

                    {% endfor %}
                </div>

                {% endif %}

                <!-- ------------ PEOPLE ------------ -->
                {% include 'admin/grave/show/_people.html.twig' %}

                <!-- ------------ PAID INFORMATION ------------ -->
                {% include 'admin/grave/show/_payments.html.twig' %}

                <!-- ------------ COORDINATES / GOOGLE MAPS ------------ -->
                {% if grave.positionX != null and grave.positionY != null %}
                    <h3 class="mt-6 text-gray-500 dark:text-gray-300">{{ 'ui.grave.description.map'|trans }}</h3>
                    <div class="mt-3 grid gap-2 grid-cols-1 2xl:grid-cols-2 text-center text-neutral-900 dark:text-neutral-50">
                        <iframe width="100%" height="600" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ grave.positionY }},%20{{ grave.positionX }}&amp;t=k&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                    </div>
                {% endif %}

                <!-- /Dashboard Content -->
                <!-- Modals -->
                <div>
                    {% include 'admin/grave/show/_modals.html.twig' %}
                </div>
                <!-- /Modals -->
            {% endblock %}
            {% block buttons_after %}
            {% endblock %}
        {% endembed %}
        <!-- /Dashboard Card -->
    </div>
{% endblock %}
