<a href="{{ path('admin_web_grave_index') }}" class="mb-1 flex items-center rounded-lg p-3 hover:bg-gradient-to-br hover:from-gray-100 hover:to-gray-200
                    dark:hover:from-slate-800 dark:hover:to-slate-900">
    <i class="fa fa-th-large w-6 text-xl" aria-hidden="true"></i>
    <div class="ml-4">
        <p class="text-base font-medium text-gray-900 dark:text-gray-200">{{ 'ui.grave.plural'|trans }}</p>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ 'ui.grave.description.manage'|trans }}</p>
    </div>
</a>
<hr class="border-slate-200 dark:border-slate-600">
<a href="{{ path('admin_web_person_index')  }}" class="my-1 flex items-center rounded-lg p-3 hover:bg-gradient-to-br hover:from-gray-100 hover:to-gray-200
                    dark:hover:from-slate-800 dark:hover:to-slate-900">
    <i class="fa fa-user w-6 text-xl" aria-hidden="true"></i>
    <div class="ml-4">
        <p class="text-base font-medium text-gray-900 dark:text-gray-200">{{ 'ui.person.plural'|trans }}</p>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ 'ui.person.description.manage'|trans }}</p>
    </div>
</a>
<hr class="border-slate-200 dark:border-slate-600">
<a href="{{ path('admin_web_user_show') }}" class="my-1 flex items-center rounded-lg p-3 hover:bg-gradient-to-br hover:from-gray-100 hover:to-gray-200
                    dark:hover:from-slate-800 dark:hover:to-slate-900">
    <i class="fa fa-address-card-o w-6 text-xl" aria-hidden="true"></i>
    <div class="ml-4">
        <p class="text-base font-medium text-gray-900 dark:text-gray-200">{{ 'ui.user.label'|trans }}</p>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ 'ui.user.description.manage'|trans }}</p>
    </div>
</a>
<hr class="border-slate-200 dark:border-slate-600">
<a href="{{ path('admin_web_user_index') }}" class="my-1 flex items-center rounded-lg p-3 hover:bg-gradient-to-br hover:from-gray-100 hover:to-gray-200
                    dark:hover:from-slate-800 dark:hover:to-slate-900">
    <i class="fa fa-university w-6 text-xl" aria-hidden="true"></i>
    <div class="ml-4">
        <p class="text-base font-medium text-gray-900 dark:text-gray-200">{{ 'ui.admin.label'|trans }}</p>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ 'ui.admin.cms.manage'|trans }}</p>
    </div>
</a>
